:root {
    --bg-colour: #566db3;
    --white-colour: #faebd7;
    --nice-n-purple: #7c4ec2;
}

.main-page {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 100vw;
    height: 100vh;

    padding: 20px;
    box-sizing: border-box;
    
    font-family: 'Comic Sans MS';
    font-size: larger;
    background-color: var(--bg-colour);

    overflow-y: hidden;
}

.header {
    display: flex;
    width: 100%;
    color: white;
    text-align: center;    
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
    justify-content: space-between;
}

.user-admin-button {
    position: relative;
    align-self: flex-end;
    font-size: smaller;
    font-weight: lighter;
    text-align: center;
    align-content: center;

    border: 4px solid;
    border-radius: 10px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-admin-button:hover {
    background-color: white;
    color: var(--bg-colour);
    border: 4px solid var(--bg-colour);
    cursor: pointer;
}

.user-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);

    background-color: var(--white-colour);
    padding: inherit;
    position: relative;
    border-radius: 10px;
    max-width: 50%;
    width:fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
}

.user-form-item {
    padding: inherit;
    text-align: left;
    align-items: center;
    margin: 8px;
    padding: inherit;

    border: 5px solid;
    border-color: var(--white-colour);
    border-radius: 10px;
}

.user-form-item-input {
    padding: inherit;
    text-align: right;
    align-items: center;
    margin: 8px;

    border: 5px solid;
    border-color: var(--white-colour);
    border-radius: 10px;
}

.user-form-item-input-checkbox {
    margin: 10px;
    display:grid;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);

    text-align: left;

}

.user-input-box {
    margin-bottom: 2px;
}

input {
    font-family: 'Comic Sans MS';
    border-radius: 5px;
    padding: 7px;
}

input:focus {
    border-color: var(--bg-colour);
    border-radius: 5px;   
}

input[type="checkbox"] {
    width: 60%;
    height: 60%;
}

label {
    margin: 5px;
}

.admin-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);

    background-color: var(--white-colour);
    padding: inherit;
    position: relative;
    border-radius: 10px;
    max-width: 50%;
    width:max-content;
}

.admin-login-button {
    background-color: var(--white-colour);
    position: relative;
    align-self: flex-end;
    font-size: large;
    font-weight: bold;
    text-align: center;
    align-content: center;

    border: 4px solid var(--white-colour);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    width:fit-content;
}

.admin-login-button:hover {
    background-color: var(--nice-n-purple);
    color: var(--white-colour);
    border: 4px solid var(--white-colour);
    cursor: pointer;
}

.admin-failed-login-text {
    color: #c22317;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.user-failed-register-text {
    color: #c22317;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
.admin-bottom-text {
    margin-top: 15px;
    font-size: medium;
}

.user-submit-button {
    background-color: var(--white-colour);
    position: relative;
    align-self: flex-end;
    font-size: large;
    font-weight: bold;
    text-align: center;
    align-content: center;

    border: 4px solid var(--white-colour);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    width: min-content;
}

.user-submit-button:hover {
    background-color: var(--nice-n-purple);
    color: var(--white-colour);
    border: 4px solid var(--white-colour);
    cursor: pointer;
}

.panel-report-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);

    background-color: var(--white-colour);
    padding: inherit;
    border-radius: 10px;
    max-width: 50%;
    width: max-content;
    margin-top: 10px;

    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow-x: hidden;
}

.panel-report-section-item {
    padding: inherit;
    text-align: left;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 10px;
    padding: inherit;

    border: 5px solid;
    border-color: var(--white-colour);
    border-radius: 10px;
}

.panel-report-download-button {
    background-color: var(--bg-colour);
    color: var(--white-colour);
    font-size: large;
    font-weight: bold;
    text-align: center;
    align-content: center;

    border: 4px solid var(--white-colour);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    width: fit-content;
    top:0%;
}
.panel-report-download-button:hover {
    background-color: var(--nice-n-purple);
    color: var(--white-colour);
    border: 4px solid var(--white-colour);
    cursor: pointer;
}

.panel-users-section {
    background-color: var(--nice-n-purple);
    color: var(--white-colour);
    padding: inherit;
    position: relative;
    border-radius: 10px;
    max-width: 50%;
    width: max-content;
    overflow-y: hidden;
    margin-top: 10px;
}

.panel-form-item-input-checkbox {
    display:grid;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);

    text-align: left;
    top: 0%;
}